.app-aboutus {
    margin: 0;
    padding: 60px 0px;
    background-color: #B247FF; /* fondo morado */
    color: white;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

}

.app-aboutus .about-container {
  max-width: 1200px;
  display: flex;
  align-items: center;
  padding: 40px;
  gap: 40px;
 }

.app-aboutus .texto {
  flex: 1;
 }

.app-aboutus h2 {
  font-family: 'Cinzel';
  font-size: 6rem;
  margin: 0;
  line-height: 1.2;
 }

.app-aboutus hr {
  border: 1px solid white;
  margin: 20px 0;
 }

.app-aboutus p {
  font-size: 24px;
  line-height: 1.8;
  text-align: justify;
 }

.app-aboutus strong {
  color: white;
  font-weight: bold;
 }

 @media (max-width: 1400px) {

  .about-container {
    flex-direction: column;
  }
  
}

@media (max-width: 500px) {

  .app-aboutus h2 {
    font-size: 4rem;
  }

  .app-aboutus p {
    font-size: 20px;
  }

  .app-aboutus img {
    display: none;
  }

  .app-aboutus .texto {
    text-align: center;
  }
}